<div class="row">
  <div class="col-md">
    <h2 class="text-success">THAY ĐỔI QUY ĐỊNH</h2>
  </div>
</div>
<div class="row h-100">
  <div class="col-6">
    <div class="form-group row">
      <label for="max">Lượng tồn tối đa</label>
      <input [(ngModel)]="roles.maxBookStock" type="number" id="max" class="form-control" />
    </div>
    <div class="form-group row">
      <label for="min">Lượng nhập tối thiểu</label>
      <input [(ngModel)]="roles.minBookInput" type="number" id="min" class="form-control" />
    </div>
    <div class="form-group row">
      <label for="deptover">Chỉ bán cho khách hàng không nợ quá:</label>
      <input [(ngModel)]="roles.deptOver" type="number" id="deptover" class="form-control" />
    </div>
    <div class="form-group row">
      <label for="stockMax">Đầu sách có số lƣợng tồn sau khi bán ít nhất là:</label>
      <input [(ngModel)]="roles.stockMax" type="number" id="stockMax" class="form-control" />
    </div>
    <div class="form-group row">
      <input [(ngModel)]="roles.getOverDept" type="checkbox" id="over"
        class="form-control col-2 d-flex justify-content-start" />
      <label for="over" class="col-auto">Số tiền thu không vượt quá số tiền khách đang nợ</label>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-primary btn-lg" data-toggle="modal" (click)="change($event)">Thay đổi</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-inform" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content border border-primary">
      <div class="modal-body">
        <p><i class="fas fa-info fa-3x text-primary mx-4"></i> {{ message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
