<header class="bg-success fixed-top">
  <div class="container text-white">
    <div class="row align-items-center">
      <div class="col-md-auto px-0 py-2">
        <h1>BOOK Store Admin</h1>
      </div>
      <div class="col-md-3 px-0 py-2 ml-auto">
        <div class="row align-items-center mx-0">
          <div class="col-md text-right">
            <p class="m-0">Chào&#44;</p>
            <p class="m-0"><strong>{{admin.name}}</strong></p>
          </div>
          <div class="col-md-auto profile d-flex align-items-center">
            <div class="dropdown">
              <a class="btn btn-outline-light p-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="w-100 img-fluid img-thumbnail" [src]="admin.url" alt="Co3La" />
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item px-0 text-center" href="#">Đăng nhập</a>
                <a class="dropdown-item px-0 text-center" href="#">Đăng xuất</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid" style="margin-top: 7vw;">
  <div class="row">
    <div class="col-md-2">
      <nav class="list-group">
        <p class="list-group-item list-group-item-action disabled">
          <small>Thông tin BOOK Store</small></p>
        <a routerLink='/inputInvoice' class="list-group-item list-group-item-action">Phiếu nhập sách</a>
        <a routerLink='/saleInvoice' class="list-group-item list-group-item-action">Hóa đơn bán sách</a>
        <a routerLink='/product' class="list-group-item list-group-item-action">Danh sách sách</a>
        <a routerLink='/receipt' class="list-group-item list-group-item-action">Phiếu thu tiền</a>
        <a routerLink='/book-report' class="list-group-item list-group-item-action">Báo cáo tồn sách</a>
        <a routerLink='/dept-report' class="list-group-item list-group-item-action">Báo cáo công nợ</a>
        <a routerLink='/customer' class="list-group-item list-group-item-action">Khách hàng</a>
        <a routerLink='/admin' class="list-group-item list-group-item-action">Admin</a>
      </nav>
    </div>
    <div class="col-md">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
